body {

    background-color: #080808;

}

    color: #f8fafc;




.card {

    background-color: #151515;

    border-radius: 12px;

    border: 1px solid #2a2a2a;

}


.text-muted {

    color: #94a3b8 !important;

}


.dash-dropdown {

    color: black;

}